
<!-- ROW 1 -->
<div class="keyboard-row row">
  <div class="col-1">
    <p>q</p>
  </div>
  <div class="col-1">
    <p>w</p>
  </div>
  <div class="col-1">
    <p>e</p>
  </div>
  <div class="col-1">
    <p>r</p>
  </div>
  <div class="col-1">
    <p>t</p>
  </div>
  <div class="col-1">
    <p>y</p>
  </div>
  <div class="col-1">
    <p>u</p>
  </div>
  <div class="col-1">
    <p>i</p>
  </div>
  <div class="col-1">
    <p>o</p>
  </div>
  <div class="col-1">
    <p>p</p>
  </div>
  <div class="col-2">
    <p>Backspace</p>
  </div>
</div>


<!-- ROW 2 -->
<div class="keyboard-row row">
  <div class="blank-key col-1">

  </div>
  <div class="col-1">
    <p>a</p>
  </div>
  <div class="col-1">
    <p>s</p>
  </div>
  <div class="col-1">
    <p>d</p>
  </div>
  <div class="col-1">
    <p>f</p>
  </div>
  <div class="col-1">
    <p>g</p>
  </div>
  <div class="col-1">
    <p>h</p>
  </div>
  <div class="col-1">
    <p>j</p>
  </div>
  <div class="col-1">
    <p>k</p>
  </div>
  <div class="col-1">
    <p>l</p>
  </div>
  <div class="blank-key col-2">

  </div>

</div>

<!-- ROW 3 -->
<div class="keyboard-row row">
  <div class="blank-key col-2">

  </div>
  <div class="z col-1">
    <p>z</p>
  </div>
  <div class="col-1">
    <p>x</p>
  </div>
  <div class="col-1">
    <p>c</p>
  </div>
  <div class="col-1">
    <p>v</p>
  </div>
  <div class="col-1">
    <p>b</p>
  </div>
  <div class="col-1">
    <p>n</p>
  </div>
  <div class="col-1">
    <p>m</p>
  </div>
  <div class="blank-key col-3">

  </div>

</div>

<!-- ROW 4 -->
<div class="keyboard-last-row row">

  <div class="shift col-6">
    <p>Shift</p>
  </div>

  <div class="enter col-6">
    <p>Enter</p>
  </div>

</div>
