<%- include("partials/header") -%>

  <!-- Page Title-->
  <h1>About</h1>

  <!-- Description Text -->
  <p>Hello there! Thanks for visiting this website!</p>
  <p>This website was created just to showcase my skills.</p>
  <p>Things I used to create this website are HTML, CSS, Bootstrap, JavaScript, EJS, jQuery, node.js, Express, mongoDB, and mongoose.</p>
  <p>Of course, Pokemon, the sprites used, and the sounds used on this website all belong to Nintendo and GameFreak.</p>
  <p>I only created the website itself, so for this website: copyright 2019 Oscar Ko.</p>

  <!-- Social Media Links -->
  <h2>Here's my social media if you are interested in seeing more!</h2>
  <a href="#">Twitter</a>
  <a href="#">LinkdIn</a>
  <a href="#">Personal Site</a>
  <a href="#">Instagram</a>

<%- include("partials/footer") -%>
