<%- include("partials/header") -%>

  <!-- Page Title-->
  <div class="about-top">
    <h1>Hey there!</h1>
  </div>


  <!-- Description Text -->
  <div class="about-text-container">
    <p>This website was created using HTML, CSS, Bootstrap,
      JavaScript, EJS, jQuery, node.js, and Express.
      The Pokemon, the sprites used, and the sounds used all
      belong to Nintendo and GameFreak.</p>
    <p>Only the website itself was created by me, so for this website: © 2019 Oscar Ko.</p>
  </div>


  <!-- Social Media Links -->
  <!-- <h2>Here's my social media if you are interested in seeing more!</h2>
  <a href="#">Twitter</a>
  <a href="#">LinkdIn</a>
  <a href="#">Personal Site</a>
  <a href="#">Instagram</a> -->

<%- include("partials/footer") -%>
