<%- include("partials/header") -%>


  <!-- A section with an Id for linking with # -->
  <section id="game-screen">

    <!-- Text to show time left and user's score -->
    <div class="game-counters row">

      <div class="col-4">
        <h1 class="score">Caught: </h1>
      </div>

      <div class="col-4">
        <!-- Audio Controls -->
        <i class="audio-control fas fa-volume-up fa-2x"></i>
      </div>

      <div class="col-4">
        <h1 class="timer">Time: </h1>
      </div>

    </div>

    <!-- Current Pokemon's name and sprite -->
    <h4 class="curr-pokemon noselect"></h4>
    <div class="sprite-container">
      <img class="sprite" src="">
    </div>

    <!-- user input -->
    <div class="container user-type">
      <input class="user-type" type="text" placeholder="Type Here" autofocus>
    </div>


  </section>


  <!-- Hidden User's Results, appears when time is up -->
  <div class="results-container">
    <div class="results">
      <p class="result-score"></p>

      <!-- Buttons for the user to navigate once game is over -->
      <a href="/" class="btn btn-secondary btn-xl" role="button">Home</a>
      <a href="/gameplay" class="btn btn-secondary btn-xl" role="button">Restart</a>

    </div>
  </div>


  <!-- jQuery Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Game Javascript Scripts -->
  <script src="game.js" charset="utf-8"></script>

<%- include("partials/footer") -%>
