<%- include("partials/header") -%>


<h1>Game Happens on this page</h1>

<h3 class="timer">Time: </h3>

<h3 class="score">Score: </h3>

<h4 class="word"></h4>
<img class="sprite" src="" alt="">

<h1 class="user-type"></h1>

<div class="results">
    <p class="score"></p>
    <button class="btn btn-primary btn-large" type="button"><a href="/">Restart</a></button>
</div>


</body>

<footer>

  <!-- jQuery Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Bootstrap's Javascript Scripts -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <!-- Game Javascript Scripts -->
  <script src="game.js" charset="utf-8"></script>
</footer>

</html>
