<%- include("partials/header") -%>

  <!-- Top of page with Title Text -->
  <div class="top-container">

    <h1 class="big-text">Catch'em all by typing</h1>

    <!-- Button for user to start playing -->
    <a href="/gameplay#game-screen" class="btn btn-secondary btn-xl" role="button">
      Play Game
    </a>

  </div>

  <!-- Rules Section -->
  <div class="rules-container">

    <p class="rules-title"><strong>Rules:</strong></p>

    <ul class="rules-ul">
      <li>Type in the Pokemon's name to catch it!</li>
      <li>Typos will fail to catch the Pokemon.</li>
      <li>Uppercase and lowercase letters matter.</li>
      <li>Catch as many as you can in 60 seconds!</li>
    </ul>

  </div>

<%- include("partials/footer") -%>
