<%- include("partials/header") -%>

<h1>PokeType</h1>
<h2>catch pokemon by typing their names</h2>


<button class="btn btn-primary btn-large" type="button">
  <a href="/gameplay">Start Game</a>
</button>


<%- include("partials/footer") -%>
