/* Element Selector Tags */
body {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  background-color: #ACCB95;
}

/* Bootstrap Class Selector Modifications*/
.btn-xl {
  padding: 10px 20px;
  font-size: 2rem;
  border-radius: 10px;
  width: 20rem;
}

@media (max-width: 1080px) {
  .btn-xl {
    padding: 15px 30px;
    font-size: 3rem;
    border-radius: 10px;
    width: 30rem;
    margin: 1rem 0;
  }
}


/* Navigation Bar Selectors - header.ejs */
.brand {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 800;
  font-size: 2.2rem;
}

.navbar-color {
  background-color: #57BBF6;
}

.navbar-right-align {
  text-align: right;
}

.nav-link:hover {
  color: yellow!important;
}

@media (max-width: 1080px) {
  .brand {
    font-size: 4rem;
  }

  .navbar-toggler-icon{
    width: 5rem;
    height: 5rem;
  }

  .nav-item {
    font-size: 3rem;
    margin: 5px 0;
  }
}

/* Title Selectors - home.ejs*/
.top-container {
  text-align: center;
  padding: 10rem 0 12rem;
}

.big-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 6rem;
  margin:0 2rem 6rem;
}

@media (max-width: 1080px) {
  .big-text {
    font-size: 10rem;
  }
}

/* Rules Container Selectors - home.ejs */
.rules-container {
  background-color: white;
  color: #3E83AC;
  text-align: center;
  padding: 7rem 0 10rem;
}

.rules-title {
  font-size: 2.5rem;
  text-align: center;
  opacity: 0.7;
}

.rules-ul {
  font-size: 1.8rem;
  line-height: 2;
  display: inline-block;
  text-align: left;
}

@media (max-width: 1080px) {
  .rules-container {
    padding: 9rem 2.9rem 10rem;
  }

  .rules-title {
    font-size: 5rem;
    opacity: 0.7;
  }

  .rules-ul {
    font-size: 2.5rem;
    line-height: 2.5;
  }
}

/* Game Interface Selectors - gameplay.ejs*/
.audio-control {

}

.game-counters {
  text-align: center;
  padding: 10rem 3rem 3rem 3rem;
  color: black;
}

.score, .timer {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 900;
  font-size: 3rem;
}

.curr-pokemon {
  text-align: center;
  font-size: 5rem;
  color: black;
}

.sprite-container {
  width: 200px;
  height: 200px;
  padding-top: 2rem;
  text-align: center;
  margin: 0 auto;
}

@media (max-width: 1080px) {
  .sprite-container {
    height: 160px;
    padding-top: 0;
    margin-top: 1.5rem;
  }
}

.sprite {
  display: inline-block;
}

/* User Typing Selectors - gameplay.ejs*/
.user-input-box {
  text-align: center;
  margin: 0 4rem 14rem;
  padding: 2rem 0 7rem;
  background-color: white;
  height: 5rem;
  border-radius: 100px;
}

.user-type {
  font-size: 5rem;
  color: black;
}

@media (max-width: 1080px) {
  .user-input-box {
    margin: 0;
    padding: 2rem 1rem 7rem;
    height: 3rem;
    border-radius: 0;
    border-bottom: 2px dashed #ACCB95;
    opacity: 0.8;
  }

  .user-type {
    font-size: 5rem;
    color: black;
  }
}

/* Keyboard Selectors - gameplay.ejs*/
.keyboard {
  display: none;
}

@media (max-width: 1080px) {
  .keyboard {
    display: block;
    text-align: center;
    line-height: 2;
    background-color: white;
    color: black;
    padding: 0 0.9rem;
    margin: 0 0 15rem;
    opacity: 0.8;
    font-size: 3rem;

    /* Prevents accident selecting */
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

  .keyboard-row {
    border-bottom: 2px dashed #ACCB95;
    height: 8rem;
  }

  .keyboard-last-row {
    height: 8rem;
  }

  .keyboard-row .col-1:active, .keyboard-row .col-2:active, .keyboard-last-row .col-6:active, .shift-on, .keyboard-row .col-3:active {
    background-color: powderblue;
    border-style: solid powderblue 5px;
  }

  .keyboard-row .col-1, .shift {
    border-right: 2px dashed #ACCB95;
  }

  .z {
    border-left: 2px dashed #ACCB95;
  }

  .blank-key:hover {
    background-color: white!important;
  }
}

/* Results Game Over Screen - gameplay.ejs  */
.results-container {
  display: none;
  text-align: center;
  width: 100%;
  background-color: #ACCB95;
  padding-bottom: 5rem;
  margin-bottom: 5rem;
}

.results {
  font-size: 2rem;
  color: white;
  height: 80%;
  padding: 5rem;
}

.result-score {
  padding: 4rem 0;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.25;
}

/* About Page */
.about-top {
  text-align: center;
  padding: 9rem 0 2rem;
  color: #3E83AC;
  background-color: white;
}

.about-top h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 5rem;
}

.about-text-container {
  display: inline-block;
  color: #3E83AC;
  background-color: white;
  padding: 2rem 20% 16rem;
  line-height: 2;
  text-align: justify;
}

@media (max-width: 1080px) {
  .about-top h1 {
    font-size: 5rem;
  }

  .about-text-container {
    font-size: 1.65rem;
    padding: 2rem 18% 16rem;

  }
}

/* footer.ejs Class Selectors */
.footer {
  background-color: #8E9E69;
  padding: 8rem 0 4.5rem;
  text-align: center;
  opacity: 0.9;
}

@media (max-width: 1080px) {
  .footer {
    background-color: #8E9E69;
  }
}

.social-icon {
  margin: 1rem 1.5rem 2rem;
}

.social-icon:hover {
  color: yellow;
}

.copyright {
  font-size: 1rem;
}
