/* General Element Selector Tags */
body {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  background-color: #ACCB95;
}

/* General Bootstrap Class Selectors Modifications*/
.btn-xl {
  padding: 10px 20px;
  font-size: 2rem;
  border-radius: 10px;
  width: 20rem;
}

@media (max-width: 1080px) {
  .btn-xl {
    padding: 15px 30px;
    font-size: 3rem;
    border-radius: 10px;
    width: 30rem;
    margin: 1rem 0;
  }
}


/* header.ejs Navigation Bar Class Selectors */
.brand {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 800;
  font-size: 2.2rem;
}

.navbar-color {
  background-color: #57BBF6;
}

.navbar-right-align {
  text-align: right;
}

.nav-link:hover {
  color: yellow!important;
}

@media (max-width: 1080px) {
  .brand {
    font-size: 4rem;
  }

  .navbar-toggler-icon{
    width: 5rem;
    height: 5rem;
  }

  .nav-item {
    font-size: 3rem;
    margin: 5px 0;
  }
}

/* home.ejs Class Selectors */
.top-container {
  text-align: center;
  padding: 10rem 0 12rem;
}

.big-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 6rem;
  margin:0 2rem 6rem;
}

@media (max-width: 1080px) {
  .big-text {
    font-size: 10rem;
  }
}

.rules-container {
  background-color: white;
  color: #3E83AC;
  text-align: center;
  padding: 7rem 0 10rem;
}

.rules-title {
  font-size: 2.5rem;
  text-align: center;
  opacity: 0.7;
}

.rules-ul {
  font-size: 1.8rem;
  line-height: 2;
  display: inline-block;
  text-align: left;
}

@media (max-width: 1080px) {
  .rules-container {
    padding: 9rem 2.9rem 10rem;
  }

  .rules-title {
    font-size: 5rem;
    opacity: 0.7;
  }

  .rules-ul {
    font-size: 2.5rem;
    line-height: 2.5;
  }
}

/* gameplay.ejs Class Selectors */
.game-counters {
  text-align: center;
  padding: 10rem 3rem 3rem 3rem;
  color: black;
}

.curr-pokemon {
  text-align: center;
  font-size: 5rem;
  color: black;
}

.sprite-container {
  width: 200px;
  height: 200px;
  padding-top: 2rem;
  text-align: center;
  margin: 0 auto;
}

@media (max-width: 1080px) {
  .sprite-container {
    height: 160px;
    padding-top: 0;
    margin-top: 1.5rem;
  }
}

.sprite {
  display: inline-block;
}

.user-input-box {
  text-align: center;
  margin: 0 4rem 14rem;
  padding: 2rem 0 7rem;
  background-color: white;
  height: 5rem;
  border-radius: 100px;
}

.user-type {
  font-size: 5rem;
  color: black;
}

@media (max-width: 1080px) {
  .user-input-box {
    margin: 1rem 1rem 0;
    padding: 3rem 1rem 6rem;
    height: 3rem;
    border-radius: 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 2px dashed grey;
  }

  .user-type {
    font-size: 3rem;
    color: black;
  }
}

.keyboard {
  display: none;
}

@media (max-width: 1080px) {
  .keyboard {
    display: block;
    text-align: center;
    line-height: 2;
    background-color: white;
    color: black;
    padding: 0 1rem;
    margin: 0 1rem;
    border-radius: 15px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  .keyboard-row {
    border-bottom: 2px dashed grey;
    height: 4.5rem;
  }

  .keyboard-row .col-1:hover, .keyboard-row .col-2:hover, .keyboard-last-row .col-6:hover {
    background-color: powderblue;
  }

  .keyboard-row .col-1, .shift {
    border-right: 2px dashed grey;
  }

  .z {
    border-left: 2px dashed grey;
  }

  .blank-key:hover {
    background-color: white!important;
  }
}

.results-container {
  display: none;
  text-align: center;
  width: 100%;
  background-color: #ACCB95;
  padding-bottom: 5rem;
}

.results {
  font-size: 2rem;
  color: white;
  height: 50rem;
  padding: 5rem;
}

.result-score {
  padding: 4rem 0;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.25;
}

/* footer.ejs Class Selectors */
.footer {
  background-color: #8E9E69;
  padding: 8rem 0 4.5rem;
  text-align: center;
  opacity: 0.85;
}

@media (max-width: 1080px) {
  .footer {
    background-color: #ACCB95;
  }
}

.social-icon {
  margin: 1rem 1.5rem 2rem;
}

.social-icon:hover {
  color: yellow;
}

.copyright {
  font-size: 1rem;
}
